---
// import Layout from "../../layouts/Layout.astro";
---

<!--
<Layout title="BLOG">
    <section class="mx-auto max-w-screen-xl flex flex-wrap pt-20 px-6 py-3 md:p-20 md:pb-3 md:pt-28 md:pb-16 justify-evenly md:justify-start lg:grid-cols-3 lg:gap-6">
       <div class="flex w-full h-full bg-teal-600 rounded-2xl">
           <div class="m-8 p-8 bg-primary border-secondary rounded-xl">
               <h1>BLOG</h1>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto cumque deserunt dolor eius error ex illum magnam qui. Animi aspernatur culpa dolores dolorum earum necessitatibus nobis obcaecati pariatur quo vel. Quo, temporibus voluptate. Ab, alias, cupiditate, dolorem dolores est ipsa natus pariatur placeat quas quia recusandae repudiandae sed vel voluptate?</p>
           </div>
           <div class="p-8">
               <h1>BLOG</h1>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto cumque deserunt dolor eius error ex illum magnam qui. Animi aspernatur culpa dolores dolorum earum necessitatibus nobis obcaecati pariatur quo vel. Quo, temporibus voluptate. Ab, alias, cupiditate, dolorem dolores est ipsa natus pariatur placeat quas quia recusandae repudiandae sed vel voluptate?</p>
           </div>
           <div class="p-8">
               <h1>BLOG</h1>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto cumque deserunt dolor eius error ex illum magnam qui. Animi aspernatur culpa dolores dolorum earum necessitatibus nobis obcaecati pariatur quo vel. Quo, temporibus voluptate. Ab, alias, cupiditate, dolorem dolores est ipsa natus pariatur placeat quas quia recusandae repudiandae sed vel voluptate?</p>
           </div>
       </div>
    </section>
</Layout>-->
