---
import Layout from "../../layouts/Layout.astro";
---
<Layout title="BLOG">
    <section class="mx-auto max-w-screen-xl flex flex-wrap pt-20 px-6 py-3 md:p-20 md:pb-3 md:pt-28 md:pb-16 justify-evenly md:justify-start lg:grid-cols-3 lg:gap-6">
        <h1>BLOG</h1>
    </section>
</Layout>