---
import type { Lang } from '../../data/cv';

interface Props {
  currentLang: Lang;
}

const { currentLang } = Astro.props;
---

<div class="flex justify-end gap-2 text-sm font-bold">
  <a
    href="/cv"
    class:list={[
      'transition ease-linear duration-150',
      currentLang === 'es'
        ? 'text-secondary'
        : 'text-quaternary hover:text-secondary',
    ]}
  >
    ES
  </a>
  <span class="text-quaternary">|</span>
  <a
    href="/cv/en"
    class:list={[
      'transition ease-linear duration-150',
      currentLang === 'en'
        ? 'text-secondary'
        : 'text-quaternary hover:text-secondary',
    ]}
  >
    EN
  </a>
</div>
