---
import { Icon } from 'astro-icon/components';

interface Props {
  pdfPath: string;
  jsonPath: string;
  label: string;
}

const { pdfPath, jsonPath, label } = Astro.props;
---

<div class="flex justify-center gap-12 mt-16">
  <a
    href={pdfPath}
    download
    class="flex items-center gap-2 text-slate-500 dark:text-quaternary hover:text-secondary transition ease-linear duration-150 text-sm font-bold"
  >
    <Icon name="download" class="w-5 h-5" />
    <span>{label} (PDF)</span>
  </a>
  <a
    href={jsonPath}
    download
    class="flex items-center gap-2 text-slate-500 dark:text-quaternary hover:text-secondary transition ease-linear duration-150 text-sm font-bold"
  >
    <Icon name="download" class="w-5 h-5" />
    <span>{label} (JSON)</span>
  </a>
</div>
