---
import CvSectionTitle from './CvSectionTitle.astro';

interface Props {
  label: string;
  summary: string;
}

const { label, summary } = Astro.props;
---

<section class="mb-8 md:mb-10">
  <CvSectionTitle label={label} />
  <p class="leading-relaxed">{summary}</p>
</section>
