---
import Layout from '../layouts/Layout.astro';
import {Image} from "astro:assets";
---

<Layout title="aitorevi-blog.">
    <section
            class="mx-auto max-w-screen-xl bg-grayLight bg-opacity-70 flex mt-28 p-6 p-6 sm:p-7 md:p-8 lg:p-20 items-center md:justify-start lg:gap-6 rounded">
        <div class="flex flex-col lg:flex-row gap-4 md:gap-8">
            <div class="flex w-full text-center items-center justify-center font-ibm lg:hidden">
                <div class="items-center gap-10">
                    <h1 class="text-3xl sm:text-5xl font-bold mb-4">¡Hola! Soy</h1>
                    <h2 class="text-4xl sm:text-5xl font-bold mb-4">Aitor</h2>
                    <h2 class="text-4xl sm:text-5xl font-bold mb-4">Reviriego</h2>
                    <h2 class="text-secondary text-2xl font-bold mb-4 ">Desarrollador web</h2>
                </div>
                <Image
                    src="/retrato.webp"
                    alt="aitorevi-blog"
                    width={64}
                    height={64}
                    class="w-1/2 lg:hidden"
                />
            </div>
            <article class="w-full lg:w-1/2 text-center lg:text-start font-ibm ">
                <div class="hidden lg:block">
                    <h1 class="text-6xl font-bold mb-4">¡Hola! Soy</h1>
                    <h2 class="text-6xl font-bold mb-4">Aitor Reviriego</h2>
                    <h2 class="text-secondary text-2xl font-bold mb-4 ">Desarrollador web</h2>
                </div>
                <p class="mb-4">
                    Soy un superhéroe detrás del teclado, embarcándome en una épica aventura para desentrañar los
                    misterios del Código de Calidad. No es cualquier código... es código para humanos. Mi misión es
                    clara:
                    escribir líneas que no solo funcionen, sino que bailen elegantes bajo la mirada de una rigurosa
                    batería
                    de tests.
                </p>
                <p class="mb-4">
                    Pero, ¡espera! No todo es sobre mí. Eolo vuela con el vientn este viaje, mi capa no so... también
                    extiende sus pliegues para abrazar a la comunidad. Sí, estoy aquí para compartir, aprender y, por
                    supuesto, aportar mi granito de arena, convirtiendo el vasto desierto de la programación en un
                    fértil
                    oasis de conocimiento.
                </p>
                <p class="mb-4">
                    Así que, si te apasiona el código tanto como a mí, y sueñas con tests que pasan con elegancia
                    mientras
                    contribuyes a un mundo digital mejor, ¡únete a mi aventura! Juntos, podemos hacer de este un viaje
                    legendario.
                </p>
            </article>
            <Image
                    src="/retrato.webp"
                    alt="aitorevi-blog"
                    width={64}
                    height={64}
                    class="w-full object-cover md:w-1/2 hidden lg:block"
            />
            </div>
    </section>
</Layout>

<style>
    main {
        margin: auto;
        padding: 1rem;
        width: 800px;
        max-width: calc(100% - 2rem);
        color: white;
        font-size: 20px;
        line-height: 1.6;
    }
</style>
