---
import {Icon} from "astro-icon/components";
import EmailLinkToCopy from "../EmailLinkToCopy/EmailLinkToCopy.astro";
---

<footer class="flex w-full h-14 items-center justify-center gap-8 bg-primary border-t-secondary border-t-[0.75px] border-amber-400">
    <a href="https://es.linkedin.com/in/aitor-reviriego-amor" target="_blank" rel="noopener noreferrer" aria-label="">
        <Icon name="linkedin" class="w-[1.7rem] h-[1.7rem] md:w-[2rem] md:h-[2rem] inline-block hover:opacity-70 transition ease-linear delay-50 duration-150" />
    </a>
    <a href="https://github.com/aitorevi" target="_blank" rel="noopener noreferrer" aria-label="">
        <Icon name="github" class="p-0.5 w-[1.7rem] h-[1.7rem] md:w-[2rem] md:h-[2rem] inline-block hover:opacity-70 transition ease-linear delay-50 duration-150" />
    </a>
    <EmailLinkToCopy>
        <Icon name="mail" class="w-[1.7rem] h-[1.7rem] md:w-[2.1rem] md:h-[2.1rem] inline-block hover:opacity-70 transition ease-linear delay-50 duration-150" />
    </EmailLinkToCopy>
</footer>