---
import Nav from "../components/Nav/Nav.astro";
import Footer from "../components/Footer/Footer.astro";
import { ViewTransitions } from 'astro:transitions';
import GoogleAnalytics from '../components/GoogleAnalytics.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<GoogleAnalytics />
		<ViewTransitions />
	</head>
	<body class="flex flex-col bg-white bg-custom bg-fixed text-primary scrollbar scrollbar-thumb-primary scrollbar-w-2 scrollbar-corner-rounded-xl">
			<Nav />
		<main class="min-h-screen">
			<slot/>
		</main>
	    <Footer />
	</body>
</html>
<style is:global>
	::-webkit-scrollbar {
		height: .6rem;
		width: .5rem;
	}

	::-webkit-scrollbar-track {
		background: rgba(33, 39, 55, .6);
	}

	::-webkit-scrollbar-track:hover {
		background: rgba(33, 39, 55, .6);
	}

	::-webkit-scrollbar-thumb {
		background: rgba(94, 58, 238);
		border-radius: 0.25rem;
	}

	::-webkit-scrollbar-thumb:hover {
		background: rgba(118, 85, 249);
		border-radius: 0.25rem;
	}
</style>
