---
import {
    Astronav,
} from "astro-navbar";
import {Image} from "astro:assets";

const currentPath = Astro.url.pathname;
const isInBlog = currentPath.startsWith('/blog');
---
<header class="flex w-full bg-white bg-opacity-95 fixed z-10 font-ibm">
    <Astronav>
        <div class="flex w-[80rem] h-14 md:h-20 mx-auto justify-between bg-white items-center">
            <div class="flex mx-10 xl:mx-0 gap-2">
                <a href="/">
                    <Image src="/logo.webp"
                           alt="logo"
                           width={16}
                           height={16}
                           class="w-8 h-8 md:w-10 md:h-10"/>
                </a>
                <a href="/"
                   class="hidden md:block cursor-pointer text-inherit text-4xl hover:text-secondary transition ease-linear delay-50 duration-150">
                    aitorevi
                </a>
            </div>
            <div class="flex items-center gap-8 mx-10 xl:mx-0 text-lg">
                <a href="/blog"
                   class={`hidden md:flex items-center cursor-pointer transition ease-linear delay-50 duration-200 ${isInBlog ? 'text-secondary font-semibold' : 'text-inherit hover:text-secondary'}`}>
                    Blog
                </a>
                <a href="/cv"
                   class="hidden md:flex items-center cursor-pointer text-inherit hover:text-secondary transition ease-linear delay-50 duration-200">
                    Sobre mí
                </a>
            </div>
        </div>
    </Astronav>
</header>
